<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>
    <section class="search">
        <h2>Search results</h2>
        <% data.forEach((item) => { %>
        <article id="<%= item.objectNumber %>">
                <h3><%= item.title %></h3>
                <p><%= item.principalOrFirstMaker %></p>
                <img src="<%= item.webImage.url.slice(0, -3)+"=s1000" %>" alt="<%= item.title %>">
        </article>
        <% }) %>
        <form action="/page=<%= page %>"><button class="loadmore"><img src=".././public/img/cross.png" alt="">Laad meer!</button></form> 
    </section>
</main>

<%- include('./partials/foot') %>

